#navbar {
  float: right;
  padding: 0;
  margin: 0 0 0 20px;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: right;
}

#navbar a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#navbar a:focus, #navbar a:hover {
  text-decoration: none;
  border-bottom-color: var(--primary);
  color: var(--primary);
}