#navbar {
  float: right;
  padding: 0;
  margin: 0 0 0 20px;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: right;
}

#navbar a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#navbar a:focus, #navbar a:hover {
  text-decoration: none;
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.row {

}

/** 
 * Hide the upload button inside the <input type="file" />
 */ 
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  text-align: center;

  /* 
   Reset the location.
   Now if we modify input[type='file'] styles, this shouldn't have side effects 
   */
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

input[type="file"] {
  appearance: none;
  text-align: center;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  padding: 0;
  background: var(--button-bg);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: var(--button-fg);
  cursor: pointer;
  transition: background 0.15s;
}

input[type="file"]:active, input[type="file"]:hover {
  background: var(--button-hover-bg);
}


/*equalize the width of input[submit] and input[file] */
.row input { 
  width: 130px;
}
.row input[type="file"] { 
  width: 100px;
}

.content-container,
.form-container {
  padding: 10px;
}

.content-container,
.form-container,
.row {
  margin: auto;
  width: 60%;
  min-width: 200px;
}